ul{
    list-style: none;
    width: 100px;
    height: 50px;
    background-color: rgb(160, 225, 95);
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    margin-right: 10px;
    content: none;
    border-radius: 5px;
}
ul:hover{
    height: 300px;
    border-radius: 30px;
    transition: all 1.2s;
}
ul:hover>li{
    
    display: block;
    list-style: none;
}
li{
    display: none;
    margin-top: 20px;
    margin-right: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a:hover{
    color: rgb(190, 197, 203);
    background-color: rgb(125, 158, 68);
    border-radius: 5px;
    transition: all 1.2s;
}
a{
    text-decoration: none;
    color: #ffffff;
    
    
}
p{
    margin-right: 30px;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 10px;
}
p:hover{
    font-size: 22px;
    transition: all 0.3s
    ;
}
menu{
    margin-right: 5px;
}

